header {
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(252, 173, 239, 0.87);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
    border: 1px solid rgba(250, 189, 255, 0.89);
}

.header-container {
    height: 10vh;
    width: 97%;

    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-links {
    align-items: center;
    list-style: none;
}

.header-link {
    display: inline;
    margin-left: 20px;
}

.header-link > * {
    vertical-align: middle;
}

.link-hover:hover {
  border-radius: 5px;
  background-color: rgba(251, 207, 255, 0.95);
  -webkit-box-shadow: 0px 0px 0px 10px rgba(251, 207, 255, 0.95);
  -moz-box-shadow: 0px 0px 0px 10px rgba(251, 207, 255, 0.95);
  box-shadow: 0px 0px 0px 10px rgba(251, 207, 255, 0.95);
  transition: linear 0.1s;
}

.pfp {
    border-radius: 50%;
    height: 6vh;
}


.header-container .icon {
    display: none;
  } .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    #reactive-nav {
      height: 8vh;
      width: 97%;
      display: none;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1vh;

      background: rgba(119, 119, 119, 0.205);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5.7px);
      -webkit-backdrop-filter: blur(5.7px);
      border: 1px solid rgba(250, 189, 255, 0.89);
    }
    .pfp {
      margin-right: 20px;
  }
  
    .header-container a {display: none;}
    .header-container a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-container.responsive {position: relative;}
    .header-container.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .header-container.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }