@font-face {
    font-family: oxygen;
    src: url("../src/fonts/Oxygen-Regular.ttf");
}
@font-face {
    font-family: oxygen_bold;
    src: url("../src/fonts/Oxygen-Bold.ttf");
}

@font-face {
    font-family: monocraft;
    src: url("../src/fonts/monocraft.ttf");
}

a {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    color: azure;
}

body {
    background-color: rgb(45, 49, 49);
    color: azure;
    font-family: oxygen;
}

input {
    width: 100%;
    border: 1px solid azure;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(34, 34, 34);
    padding: 5px;
    font-size: 2.5vh;
}

.title {
    font-size: 3.5vh;
    font-family: oxygen_bold;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.placeholder-bars {
    width: 1vw;
}

.THESEPARATOR-1vh {
    height: 1vh;
    width: 100%;
}

.THESEPARATOR-2vh {
    height: 2vh;
    width: 100%;
}